<config>

<tid>1593992500</tid>
<seed_flag>1</seed_flag>
<ver>1.10</ver>
<client_spec_flag>1</client_spec_flag>
<image_file>guycarp3_logo.png</image_file>

<num_scenarios>10000</num_scenarios>
<max_tenor>5</max_tenor>
<bin_thres>5</bin_thres>
<lnl_thres>1000</lnl_thres>
<mf_flag>0</mf_flag>
<block_flag>0</block_flag>
<block_size>1000000</block_size>

<bkg_epi>100000000</bkg_epi>
<def_rating>BB+</def_rating>
<pml_quantile>0.9</pml_quantile>
<named_R>0.3</named_R>
<unnamed_R>0.1</unnamed_R>
<shape>4</shape>
<expense_ratio>0.3</expense_ratio>
<elm>0.62</elm>
<roc>0.35</roc>
<coc>0.03</coc>

<multi_ptf_flag>1</multi_ptf_flag>
<severity_by_sub_ptf_flag>0</severity_by_sub_ptf_flag>
<group_by_cp_flag>0</group_by_cp_flag>
<severity_by_policy_flag>0</severity_by_policy_flag>
<exp_struct_flag>0</exp_struct_flag>
<xl_on_qs_ret_flag>0</xl_on_qs_ret_flag>
<type_sub_tot_flag>1</type_sub_tot_flag>
<gross_net_econ_flag>1</gross_net_econ_flag>
<uw_year_split_flag>0</uw_year_split_flag>
<uw_summary_flag>1</uw_summary_flag>
<run_off_flag>0</run_off_flag>

<reinst_flag>1</reinst_flag>
<slide_flag>1</slide_flag>
<pc_slide_flag>1</pc_slide_flag>
<cession_flag>1</cession_flag>
<ccy_flag>1</ccy_flag>
<share_flag>0</share_flag>
<print_flag>1</print_flag>
<output_flag>1</output_flag>
<decomp_flag>1</decomp_flag>
<debug_flag>1</debug_flag>  
<graph_flag>1</graph_flag>
<ULSC_flag>0</ULSC_flag>
<per_sc_per_cp_output_flag>0</per_sc_per_cp_output_flag>
<per_cp_metrics_flag>1</per_cp_metrics_flag>
<color_code_flag>0</color_code_flag>
<limit_per_name_flag>0</limit_per_name_flag>

<rm_view_only_flag>1</rm_view_only_flag>
<cntry_split_flag>0</cntry_split_flag>
<size_bins>0,1e5,1e6,10e6</size_bins>
<named_bin_flag>0</named_bin_flag>
<max_named_bin>100e6</max_named_bin>

</config>